{% extends 'base.html' %}

{% block content %}
<ul class="list-articles">

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Обновить</button></p>
    </form>

<div class="tabs">
    <input type="radio" name="inset" value="" id="tab_1" checked>
    <label for="tab_1">Цех № 1</label>

    <input type="radio" name="inset" value="" id="tab_2">
    <label for="tab_2">Цех № 2</label>

    <input type="radio" name="inset" value="" id="tab_3">
    <label for="tab_3">Цех № 3</label>

    <input type="radio" name="inset" value="" id="tab_4">
    <label for="tab_4">ППК</label>

    {% for lines in departments %}
    <div id="txt_{{forloop.counter}}">

    <table width="100%" border="1">
        {% for l in lines %}
        <tr>
            <td width="30%" > {{l.department}}-{{l.pseudonym}}
                <table width="100%" border="1">
                    <tr><th>{{l.line_number}}-{{l.pseudonym}}</th><th>1 Смена</th><th>2 Смена</th><th>Сутки</th></tr>
                    <tr><th>Время, мин</th><td>{{l.statistic.count_minute_line_run_1}}</td><td>{{l.statistic.count_minute_line_run_2}}</td><td>{{l.statistic.count_minute_line_run}}</td></tr>
                    <tr><th>Макс. скорость, м/мин</th><td>{{l.statistic.max_value_1}}</td><td>{{l.statistic.max_value_2}}</td><td>{{l.statistic.max_value}}</td></tr>
<!--                    <tr><th>Средн. скорость, м/мин</th><td>{{l.statistic.made_kabel_1}}</td><td>{{l.statistic.made_kabel_2}}</td><td>{{l.statistic.made_kabel_1}}</td></tr>-->
                    <tr><th>Изготовленно, км</th><td>{{l.statistic.made_kabel_1}}</td><td>{{l.statistic.made_kabel_2}}</td><td>{{l.statistic.made_kabel}}</td></tr>
                    <tr><th>Количество остановок</th><td>{{l.statistic.stop_count_1}}</td><td>{{l.statistic.stop_count_2}}</td><td>{{l.statistic.stop_count}}</td></tr>
<!--                    <tr><th>КМВ</th><td>{{stat.}}</td><td>{{stat.}}</td><td>{{stat.}}</td></tr>-->
                </table>
            </td>
            <td width="70%" >


                        <!-- bar chart canvas element -->
            <canvas id="myChart{{l.line_number}}" width="700px" height="200px"></canvas>
<!--            <p id="caption">Графики температур за {{select_date}}</p>-->
            <script>
                // Global parameters:
                // do not resize the chart canvas when its container does (keep at 600x400px)
                Chart.defaults.global.responsive = false;

                // define the chart data
                var chartData{{l.line_number}} = {
                        labels : [{% for item in times %}
                            "{{item}}",
                        {% endfor %}],
                    datasets : [{
                        label: '{{l.pseudonym}}',
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(0,200,0,0.6)",
                        borderColor: "rgba(0,200,0,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(0,200,0,1)",
                        pointBackgroundColor: "rgba(0,200,0,0.6)",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(0,200,0,1)",
                        pointHoverBorderColor: "rgba(0,200,0,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data : [{% for item in l.speed %}
                                    {{item}},
                                {% endfor %}],
                        spanGaps: false
                        },
                    ]
                }

                // get chart canvas
                var ctx = document.getElementById("myChart{{l.line_number}}").getContext("2d");

                // create the chart using the chart canvas
                var myChart{{l.line_number}} = new Chart(ctx, {
                    type: 'line',
                    data: chartData{{l.line_number}},
                    options: {
                        animation: { duration: 0, },
                        hover: { animationDuration: 0, },
                        responsiveAnimationDuration: 0,
                        },
                });
                </script>
            </td>

        </tr> <!--ряд с ячейками тела таблицы-->
        {% endfor %}
    </table>
    </div>
    {% endfor %}
</div>

</ul>

{% endblock %}
